body{
	margin:0;
}
.logo{
	text-align: center;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}
.background{
    background-color:  rgb(249, 249, 249);
    width: 300px;
    border: 2px solid rgb(231, 224, 224);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 50px 70px 50px 50px;
    border-radius: 10px;
    position: relative;
    top:60px ;
    left: 550px;
}
.products{
    font-family: 'league spartan', sans-serif;
    text-align: center;
}
.form-for-update-products{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-for-update-products button{
    padding: 10px;
    color: white;
    background-color: #1c314d;
    border: none;
    width: 107%;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}
.input-field{
    font-family: 'poppins', sans-serif;
}
.products-updates-from-admin input{
    padding: 10px;
    width: 100%;
    border: 2px solid #eee;
    border-radius: 3px;
}