body{
	margin:0;
}
.visit-signin{
	display: flex;
	justify-content: space-around;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
	font-family: 'poppins', sans-serif;
	font-weight: 5px;
	font-size: 16px;
}
.sign-in a{
	text-decoration: none;
	
}
.header{ 
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-logo{
	width:180px;
	margin: 20px 0px 0px 50px ;
}
.navbar ul li{
	display:inline;
	margin:10px;
}
.navbar ul li a{
font-family:'Open Sans', sans-serif;
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.header button{
	font-size:15px;	
    background-color:#ff5757;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
	
}
.header button a{
	text-decoration: none;
	color: #f6f6f6;
}
.book-now{
	font-family: 'league spartan', sans-serif;
	text-align: center;
	font-size: 25px;
	padding: 30px 0px 30px 0px;
}
.background-0{
	background-color: #eee;
	width: 1485px;
	height: 1000px;
}
.background-color{
	width: 1200px;
    height: 700px;
	background-color: wheat;
	margin-left: 165px;
	align-items: center;
}
.in-out{
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.overall{
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.btn-cancel, .btn-accept{
	padding: 15px 35px 15px 35px;
	background-color: #ffa51d;
	font-size: 15px;
	color: white;
	font-family: 'poppins', sans-serif;
	border: none;
	cursor: pointer;

}





table tr td{
	padding: 15px 100px 10px 0px; 
	font-family: 'poppins', sans-serif;

}


.terms-and-conditions{
	padding: 0px 0px 0px 25px;
}
.terms-and-conditions-h4{
	font-family: 'league spartan', sans-serif;
	font-size: 1.5rem;
}
.terms-and-conditions-h5, .terms-and-conditions-p{
	font-family: 'open sans', sans-serif;
}
.instructions-ol{
	font-family: 'poppins', sans-serif;
}
.button-for-cancel-accept{
	display: flex;
    justify-content: center;
	padding: 15px 0px 0px 0px ;
}
.important_datas{
	font-family: 'open sans', sans-serif;
}



.background-footer{
	background-color: #121a21;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.navbar-footer-logo{
	padding: 25px 0px 0px 0px ;
}
.address{
	font-family: 'open sans', sans-serif;
	color: white;
	padding: 20px 0px 0px 0px ;
}
.other-policies a{
	font-family: 'open sans', sans-serif;
	text-decoration: none;
	color: white;
}
.other-policies a:hover{
	color: #ff5757;
}