body {
	margin: 0;
}
.visit-signin{
	display: flex;
	justify-content: space-around;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
	font-family: 'poppins', sans-serif;
	font-weight: 5px;
	font-size: 16px;
}
.sign-in a{
	text-decoration: none;
	
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.header-logo {
	width: 180px;
	margin-left: 50px;
	margin-top: 20px;
}
.navbar ul li {
	display: inline;
	margin: 10px;
}

.navbar ul li a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
}

.navbar ul li a:hover {
	border-bottom: 3px solid #ff5757;
}

.navbar ul li a.active {
	border-bottom: 3px solid #ff5757;
}

.header button {
	font-size: 15px;
	background-color: #ff5757;
	border-radius: 8px;
	padding: 15px;
	border: none;
	color: white;
	font-family: 'open sans', sans-serif;
	margin-right: 80px;
	cursor: pointer;
}
.header button a{
	text-decoration: none;
	
}

.exciting {
	text-align: center;
	margin-top: 0px;
	font-family: 'League Spartan', sans-serif;
	font-size: 35px;
	padding: 50px;
}

.card {
	width: 380px;
	height: 380px;
	border: 3px solid white;
	background-color: #FFA805;

}

.btn {
	position: relative;
	left: 90px;
	bottom: 17px;
}

.card-container {
	display: flex;
	justify-content: space-evenly;
	height: 40vh;
}

.card-container h2 {
	font-family: 'League Spartan', sans-serif;
	color: white;
	text-align: center;
}

.card-container p {
	font-family: 'Poppins', sans-serif;
	color: white;
	text-align: center;
}

.card-container-2 {
	display: flex;
	justify-content: space-evenly;
	height: 70vh;
	padding-top: 150px;
}

.card-container .card .btn {
	background-color: white;
	border: none;
	width: 130px;
	padding: 10px;
	margin-left: 30px;
	font-family: 'League Spartan', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #ff5757;
}

.card-container-2 .card .btn {
	background-color: white;
	border: none;
	width: 130px;
	padding: 10px;
	margin-left: 30px;
	font-family: 'League Spartan', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #ff5757;
}

.card-container img {
	height: 200px;
	width: 380px;
}

.card-container-2 img {
	height: 200px;
	width: 380px;
}

.card-container .card a img:hover {
	filter: brightness(0.5);
}
.card-container-2 .card a img:hover {
	filter: brightness(0.5);
}

.card-container-2 h2 {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.card-container-2 p {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
}










footer{
	background-color: #121a21;
	text-align:center;

}
.footer-logo{
	width: 180px;
	margin: 50px 0px 30px 0px;
}
.address-open-hours-contact{
	display: flex;
	justify-content:space-evenly;
	text-align: left;
	padding: 0px 0px 30px 0px;
}
.address h3, .open-hours h3, .contact-for-more h3{
	font-family: 'league spartan', sans-serif;
	color: #ffa51d;
}
.address p, .contact-for-more p, .open-hours p{
	font-family: 'poppins', sans-serif;
	color: white;
	width: 300px;
}
.social-medias a{
	display: inline-block;
	width: 40px; 
    margin:0 10px 10px 0;
	text-align:center;
	border-radius: 50px;
	border: 1px solid white;
	line-height: 40px;
	color: #f6f6f6;
	transition:0.5s;
}
.social-medias{
	display: flex;
	justify-content: center;
	padding:10px 0px 0px 0px ;
}

.facebook a:hover{
	background-color: #4267B2;
}
.twitter a:hover{
	background-color:#1DA1F2;
}
.instagram a:hover{
	background-color:#E1306C;
}
.pinterest a:hover{
	background-color: #E60023;
}
.youtube a:hover{
	background-color: #FF0000;
}
/* footer-for-about-us-etc */
.navbar-footer ul{
	display: flex;
	justify-content: center;
}
.navbar-footer ul li a{
	padding: 10px;
	color: white;
	text-decoration:none;
}
.navbar-footer ul li{
	list-style: none;
	font-family: 'league spartan', sans-serif;
}
.navbar-footer a:hover{
	color:#ff5757;
}
/* footer-for-privacy-etc */
.other-navbar-footer ul{
    display: flex;
	justify-content: center;
}
.other-navbar-footer ul li{
	padding: 10px;
	font-family: 'league spartan', sans-serif;
	list-style: none;
}
.other-navbar-footer ul li a{
	text-decoration: none;
	color: #f6f6f6;
}
.other-navbar-footer a:hover{
	color: #ff5757;
}
.copyright{
	text-align: center;
	font-family: 'poppins', sans-serif;
	color: #eee;
	padding: 20px;
}