.image-verification{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.verification{
    background-color:  rgb(249, 249, 249);
    width: 300px;
    border: 2px solid rgb(231, 224, 224);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 50px;
    border-radius: 10px;
    height: 350px;
}
.code input{
    width: 30px;
    padding: 10px;
    border-bottom-color: #ff5757;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color:rgb(249, 249, 249) ;
    outline: none;
}
.verification h3{
    font-family: 'open sans', sans-serif;
    text-align: center;
}
.verification h5{
    font-family: 'open sans', sans-serif;

}
.verification h4, p {
    font-family: 'open sans', sans-serif;
}
span{
    color: #ff5757;
}
.verification button{
    padding: 10px;
    color: white;
    background-color: #1c314d;
    border: none;
    width: 300px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
    border-radius: 4px;
}




@media screen and (max-width:450px) {

    .image {
        display: none;
    }

    .verification{
        position: relative;
        top: 160px;
        width: 100%;
        padding: 30px;
    }
    
}