.image-new-password{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 90px;
}
.new-password{
    background-color:  rgb(249, 249, 249);
    width: 300px;
    border: 2px solid rgb(231, 224, 224);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 50px;
    border-radius: 10px;
    height: 330px;
}
.new-password h3{
    font-family: 'open sans', sans-serif;
    text-align: center;
}
.new-password h5{
    font-family: 'open sans', sans-serif;
}
.new-password input{
    padding: 10px;
    width: 276px;
    border: 2px solid #eee;
    border-radius: 3px;
}
.new-password button{
    padding: 10px;
    color: white;
    background-color: #1c314d;
    border: none;
    width: 300px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
    border-radius: 4px;
}






@media screen and (max-width:450px) {

    .image {
        display: none;
    }

    .new-password{
        position: relative;
        top: 135px;
        width: 100%;
        padding: 30px;
    }
    
}