.image-signup{
    display: flex;
    align-items: center;
    position: relative;
    top: 90px;
}
.sign-up form{
    width: 100px;
    
}
.sign-up{
    background-color:  rgb(249, 249, 249);
    width: 300px;
    border: 2px solid rgb(231, 224, 224);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 50px;
    border-radius: 10px;
}
.sign-up input{
    padding: 10px;
    width: 276px;
    border: 2px solid #eee;
    border-radius: 3px;
}
.sign-up input[type=email]:focus{
    outline: 2px solid #ff5757;
}
.sign-up input[type=password]:focus{
    outline: 2px solid #ff5757;
}
.sign-up button{
    padding: 10px;
    color: white;
    background-color: #1c314d;
    border: none;
    width: 300px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}
.sign-up h3{
    font-family: 'open sans', sans-serif;
    text-align: center;
    text-decoration: none;
}
.sign-up h4{
    font-family: 'open sans', sans-serif;
    color: black;
}
.sign-up h4 a{
    text-decoration: none;
}


@media screen and (max-width:450px) {

    .image{
        display: none;
    }
    .image-signup{
        position: relative;
        top: 0px;
    }
    .sign-up{
        width: 100%;
        padding: 30px;
        position: relative;
        top: 150px;
    }
    
}