body{
	margin:0;
}
.header{ 
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar{
	position:sticky;
}
.navbar ul li{
	display:inline;
	margin-top:50%;
	margin:20px;
}
.navbar ul li a{
font-family:'Open Sans';
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
position:sticky;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.active{
    border-bottom: 3px solid #ff5757;
}

.header button{
	text-align:center;
	margin-top:px;
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
}
.attractions{
 text-align: center;
 margin-top: 70px;
 font-family: 'league spartan';
 font-size: 25px;
}
.photoattractions {
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.attractions-2{
    width:400px;
    height: 300px;
}
.attractions-2 img:hover{
	transition: 1s;
	transform: scale(1.1);
}
.photoattractions h2{
	font-family: 'poppins';
}
.attracts-you{
	width: 1485px;
	height: 700px;
	background-color: #eee;
}
.attracts-you h2{
	padding: 90px 0px 50px 0px;
	text-align: center;
	color:#ff4612;
	font-size: 40px;
	font-family: 'league spartan';
    top: 50px;
}