body{
	margin:0;
}
.header{ 
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar{
	position:sticky;
}
.navbar ul li{
	display:inline;
	margin-top:50%;
	margin:20px;
}
.navbar ul li a{
font-family:'Open Sans';
text-decoration:none;
padding:10px;
border-bottom: :#ff5757;
font-size: 15px;
margin-top: 10px;
position:sticky;
}
.navbar ul li a:hover {
	border-bottom:2px solid #ff5757;
} 
.active{
    border-bottom: 3px solid #ff5757;
}
.header button{
	text-align:center;
	margin-top:px;
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
}
.events{
    text-align: center;
    margin-top: 70px;
	font-family: 'league spartan';
	font-size: 20px;
}
.rollercoaster{
    width:900px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.circus{
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
    
}
.events-photos{
	/*display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;*/
}
.upcoming{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'league spartan';
	font-size: 25px;
	top:80px;
	position: relative;
}
.festivel img{
	width: 400px;
	height: 300px;
}
.festivel img:hover{
	transform: scale(1.1);
    transition: 1s;
}
.upcoming-events{
	display: flex;
	justify-content: space-evenly;
    position: relative;
	top: 90px;
}
.upcoming-background{
	height: 600px;
	width: 1485px;
	background-color: #eee;

}
