body {
	margin: 0;
}

.header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.header-logo {
	width: 180px;
	margin-left: 50px;
	margin-top: 20px;
}

.navbar {
	position: sticky;
}

.navbar ul li {
	display: inline;
	margin-top: 50%;
	margin: 20px;
}

.navbar ul li a {
	font-family: 'Open Sans';
	text-decoration: none;
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
	position: sticky;
}

.navbar ul li a:hover {
	border-bottom: 2px solid #ff5757;
}

.active {
	border-bottom: 3px solid #ff5757;
}

.header button {
	text-align: center;
	font-size: 15px;
	background-color: #ff5757;
	color: white;
	border-radius: 8px;
	padding: 15px;
	border: none;
	margin-right: 80px;
}

.exciting {
	text-align: center;
	margin-top: 0px;
	font-family: 'League Spartan';
	font-size: 35px;
	padding: 50px;
}

.card {
	width: 380px;
	height: 380px;
	border: 3px solid white;
	background-color: #FFA805;

}

.btn {
	position: relative;
	left: 90px;
	bottom: 17px;
}

.card-container {
	display: flex;
	justify-content: space-evenly;
	height: 40vh;
}

.card-container h2 {
	font-family: 'League Spartan';
	color: white;
	text-align: center;
}

.card-container p {
	font-family: 'Poppins';
	color: white;
	text-align: center;
}

.card-container-2 {
	display: flex;
	justify-content: space-evenly;
	height: 70vh;
	padding-top: 150px;
}

.card-container .card .btn {
	background-color: white;
	border: none;
	width: 130px;
	padding: 10px;
	margin-left: 30px;
	font-family: 'League Spartan';
	font-weight: 600;
	font-size: 15px;
	color: #ff5757;
}

.card-container-2 .card .btn {
	background-color: white;
	border: none;
	width: 130px;
	padding: 10px;
	margin-left: 30px;
	font-family: 'League Spartan';
	font-weight: 600;
	font-size: 15px;
	color: #ff5757;
}

.card-container img {
	height: 200px;
	width: 380px;
}

.card-container-2 img {
	height: 200px;
	width: 380px;
}

.card-container .card a img:hover {
	filter: brightness(0.5);
}
.card-container-2 .card a img:hover {
	filter: brightness(0.5);
}

.card-container-2 h2 {
	text-align: center;
	font-family: 'Poppins';
	color: white;
}

.card-container-2 p {
	text-align: center;
	font-family: 'Poppins';
	color: white;
}

footer {
	background-color: #121a21;
	padding: 0px;
	text-align: center;
	justify-content: space-evenly;
	left: 0;
	width: 100%;
}

.footer-logo {
	width: 180px;
	padding: 20px;
}