body{
	margin:0;
}
.header{ 
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar{
	position:sticky;
}
.navbar ul li{
	display:inline;
	margin-top:50%;
	margin:20px;
}
.navbar ul li a{
font-family:'Open Sans';
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
position:sticky;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.active{
    border-bottom: 3px solid #ff5757;
}
.header button{
	text-align:center;
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
}
.header button a{
	text-decoration: none;
	color: #f6f6f6;
}
.backgroundglobal img{
	width:1485px;
	z-index:-1;
}
.welcome-global-funcity{
	position: relative;
	z-index: 2;
	bottom: 100px;

}
.bg2{
	position:relative;
	margin-left:230px;
	bottom: 290px;
}
.box{
	height: 12px;
}
.box h2,.box h1{
	font-family:'League Spartan', sans-serif;
	font-size: 30px;
	position: relative;
	top: 120px;
	color: wheat ;
	padding: 10px;
}
.box h2{
	margin-left: 630px;
	color: #f6f6f6;
}
.box h1{
    margin-left: 540px;
	padding: 5px;
	font-size: 45px;
}
.sparkles{
	position: relative;
	bottom: 750px;
	margin-left: 170px;
}
.messages{
	padding-bottom: 80px;
}
.messages .step h3 {
    font-family: 'League Spartan';
}
.step h3{
margin-top:230px;
font-family:'Jost';
font-size:1.90em;
font-weight:600;
color:#ff5757;
text-align: center;
}
.border{
	background:#008288;
	width:160px;
	height:3px;
	margin:10px auto;
}
.weare p{
	text-align:center;
	font-family:'Poppins';
	font-size:1.00em;
	padding-top:20px;
	
}
.updown{
padding:70px;
background-color:#008288;
color:white;
flex-wrap:wrap;
flex-direction:row;
display:flex;
align-content:center;
align-items:center;
justify-content:space-around;
}
.updown div h2{
	margin-left:150px;
	font-family: 'League Spartan', sans-serif;
	font-size: 30px;
}
.updown div p{
	margin-left:150px;
	font-family: 'Poppins';
	

} 
.recoil{
	width:300px;
	border-radius:20px;	
}
.biscuit{
width:300px;
display:block;
margin: left 40px;
border-radius:20px;
height:auto;	
}
.biscuit1{
	margin-left: 40px;
}
.goodfood-goodday{
	display: flex;
	justify-content: space-evenly;
	padding: 40px;

}
.goodday{
	padding: 60px;
	font-family: 'Poppins';
	font-size:15px ;
	position: relative;
	right: 120px;
}
.border2{
	background:#008288;
	width:90px;
	height:3px;
	margin:20px center;

}
.parktour{
	width:1485px;
	height: 1000px;
	background-color:#f6f6f6; 
	text-align: center;
	
}
.gaiety-excursion{
	padding-top:80px;
	position: relative;
	margin-bottom: 50px;
}
.gaiety-excursion h2{
    color: #ff4612;
	font-family:'league spartan';
	font-size: 20px;
}
.gaiety-excursion h1{
    font-family: 'league spartan';
	font-size:60px ;
}
.gaiety-excursion p{
    font-family: 'poppins';
}
.bubble{
	z-index: 1;
	width:1485px ;
	height: 400px;
}
.tickets{
	background-image: url("https://festy.ancorathemes.com/wp-content/uploads/2021/12/image-136-scaled.jpg");
	height: 400px;
	width: 1485px;
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-family: 'League Spartan';
	background-color: #070708;
	margin-top: 100px;
	position: relative;
    opacity: 0.75;
    transition: background-image 0.3s, border-radius 0.3s, opacity 0.3s;
}
.tickets h2{
	color: #ff4612;

}
.tickets h1{
	color: white;
	font-size:60px ;
}
.tickets button{
	background-color: #ffa51d;
	color: white;
	border: 3px solid #ffa51d;
	padding: 15px;
	border-radius: 40px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 18px;
	font-family: 'League Spartan';
}
.tickets a{
	text-decoration: none;
	color: white;
}
.customer{
	text-align: center;
	padding: 60px;
}
.customer h2{
	font-family:'League Spartan';
	font-size: 50px;
}
footer{
	background-color: #121a21;
	padding:0px;
	text-align:center;
	justify-content:space-evenly;
	left:0;
	width:100%;
}
.footer-logo{
	width: 180px;
	margin-top: 90px;
}
.social-medias a{
	display: inline-block;
	height: 40px;
	width: 40px; 
	background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
	text-align:center;
	border-radius: 50px;
	line-height: 40px;
	color: #f6f6f6;
	transition: all 0.5s ease;
}
.social-medias a:hover{
	color: #f6f6f6;
	background-color: skyblue;
}
.navbar-footer ul{
	display: flex;
	margin-left: 350px;
}
.navbar-footer ul li a{
	padding: 10px;
	color: white;
	text-decoration:none;
}
.navbar-footer ul li{
	list-style: none;
}
.copyright{
	text-align: center;
	font-family: 'poppins';
	color: #eee;
	padding: 20px;
}