body{
	margin:0;
}
.header{ 
	display:flex;
	flex-wrap:nowrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar{
	position:sticky;
}
.navbar ul li{
	display:inline;
	margin-top:50%;
	margin:20px;
}
.navbar ul li a{
font-family:'Open Sans';
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
position:sticky;
}
.navbar ul li a:hover {
	border-bottom:2px solid #ff5757;
} 
.active{
    border-bottom: 3px solid #ff5757;
}
.header button{
	text-align:center;
	margin-top:px;
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
}
.book{
    text-align: center;
    margin-top: 90px;
}
.new-year-photo-offer{
    width:800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.newyear p{
    padding: 40px;
    margin-left: 30px;
}
.btn{
    padding: 20px;
    margin-left: 1200px;
    background-color: #ff5757;
    color: white;
    border:none;
}
.instructions-for-offer{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}