body{
	margin:0;
}
/* sidebar for mobile  */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	
  }
  .sidenav, .icon-bar{
	display: none;
  }
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
/* sidebar mobile completed */
.visit-signin{
	display: flex;
	justify-content: space-around;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
	font-family: 'poppins', sans-serif;
	font-weight: 5px;
	font-size: 16px;
}
.sign-in a{
	text-decoration: none;
}
.header{ 
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar ul li{
	display:inline;
	margin:10px;
}
.navbar ul li a{
font-family:'Open Sans', sans-serif;
text-decoration:none;
padding:10px;
border-bottom: #ff5757;
font-size: 15px;
margin-top: 10px;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.header button{
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	border:none;
	margin-right:80px;
	padding: 15px;
	cursor: pointer;
}
.header button a{
	text-decoration: none;
	color: #f6f6f6;
}
.background-color{
	width: 1485px;
	height:1500px;
	background-color: #eee;
}
.safety-of-visitors{
	text-align: center;
	font-family: 'league spartan', sans-serif;
	font-size: 26px;
	padding: 40px;
}
.instructions {
	font-family: 'Poppins', sans-serif;
    line-height: 32px;
	width: 83%;
}
.instructions p{
	display: inline-block;
	text-align: justify;
	padding-left: 100px;
}
.instructions-for-peoples ul {
	display: inline-block;
	text-align: left;
	font-family: 'Poppins', sans-serif;
    width: 70%;
	line-height: 32px;
}
.instructions-for-peoples {
	text-align: center;
	
}
.general-tips h2{
	font-family: 'league spartan', sans-serif;
	font-size: 29px;
}
.general-tips ul{
	display: inline-block;
	text-align: left;
	font-family: 'Poppins', sans-serif;
    width: 70%;
	line-height: 32px

}
.general-tips{
	text-align: center;
}
.water-quality h2{
	font-family: 'league spartan', sans-serif;
	font-size: 29px;
	text-align: center;
}
.water-quality p{
	font-family: 'Poppins', sans-serif;
	line-height: 32px;
	width: 83%;
	padding-left: 100px;
}


footer{
	background-color: #121a21;
	text-align:center;
}
.footer-logo{
	width: 180px;
	margin: 50px 0px 30px 0px;
}
.address-open-hours-contact{
	display: flex;
	justify-content:space-evenly;
	text-align: left;
	padding: 0px 0px 30px 0px;
}
.address h3, .open-hours h3, .contact-for-more h3{
	font-family: 'league spartan', sans-serif;
	color: #ffa51d;
}
.address p, .contact-for-more p, .open-hours p{
	font-family: 'poppins', sans-serif;
	color: white;
	width: 300px;
}
.social-medias a{
	display: inline-block;
	width: 40px; 
    margin:0 10px 10px 0;
	border-radius: 50px;
	border: 1px solid white;
	line-height: 40px;
	color: #f6f6f6;
	transition:0.5s;
}
.social-medias{
	display: flex;
	justify-content: center;
	padding:10px 0px 0px 0px ;
}

.facebook a:hover{
	background-color: #4267B2;
}
.twitter a:hover{
	background-color:#1DA1F2;
}
.instagram a:hover{
	background-color: #bc2a8d;
}
.pinterest a:hover{
	background-color: #E60023;
}
.youtube a:hover{
	background-color: #FF0000;
}
/* footer-for-about-us-etc */
.navbar-footer ul{
	display: flex;
	justify-content: center;
}
.navbar-footer ul li a{
	padding: 10px;
	color: white;
	text-decoration:none;
}
.navbar-footer ul li{
	list-style: none;
	font-family: 'league spartan', sans-serif;
}
.navbar-footer a:hover{
	color:#ff5757;
}
/* footer-for-privacy-etc */
.other-navbar-footer ul{
    display: flex;
	justify-content: center;
}
.other-navbar-footer ul li{
	padding: 10px;
	font-family: 'league spartan', sans-serif;
	list-style: none;
}
.other-navbar-footer ul li a{
	text-decoration: none;
	color: white;
}
.other-navbar-footer a:hover{
	color: #ff5757;
}
.copyright{
	text-align: center;
	font-family: 'poppins', sans-serif;
	color: #eee;
	padding: 20px;
}