body{
	margin:0;
}
.visit-signin{
	display: flex;
	justify-content: space-around;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
	font-family: 'poppins', sans-serif;
	font-weight: 5px;
	font-size: 16px;
}
.sign-in a{
	text-decoration: none;
	/* color: #ff5757; */
}
.header{ 
	display:flex;
	justify-content:space-between;
	align-items:center;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar ul li{
	display:inline;
	margin:10px;
}
.navbar ul li a{
font-family:'Open Sans', sans-serif;
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.navbar ul li a.active{
    border-bottom: 3px solid #ff5757;
}
.header button{
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
	cursor: pointer;
}
.contact{
    text-align: center;
    margin-top: 70px;
	font-family: 'league spartan', sans-serif;
	font-size: 40px;
}
.contactdetails{
	font-family: 'poppins', sans-serif;
	width: 250px;
	line-height: 40px;
}
.contactdetails p{
	font-family: 'league spartan', sans-serif;
    font-size: 30px;
	color:#ff4617;
}
.gape{
	display: flex;
	outline: 0;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
	
}
input {
	border-top: 0;
	border-right: 0;
	border-left:0;
	outline: none;
	padding: 7px;
	align-content: space-around;
	width: 350px;
}
.input-field-for-contact{
	font-family: 'poppins', sans-serif;
}
.content-of-address-form{
	display: flex;
	justify-content: space-around;
}

.get-in-touch{
	padding: 20px 25px 20px 25px;
	background-color:#ffa51d;
	color: white;
	margin-left: 615px;
	/*margin-top: 40px;*/
    border-radius: 50px;
	border:white;
	font-family: 'league spartan', sans-serif;
	font-size: 16px;

}
.get-in-touch:hover{
	cursor: pointer;
	background-color: #ffa51d;
}
.location{
	padding: 30px 0px 0px 0px;
}

/* faq css */
.background{
	background-color: #eee;
	margin: 70px 0px 0px 0px;
}
.main-faq{
	min-height: 80vh;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title{
	padding: 40px 0px 0px 0px;
	/* text-align: center; */
	font-size: 2rem;
	margin: 2rem 0rem;
	font-family: 'league spartan', sans-serif;
}
hr{
	width: 60%;
}
.faq{
	max-width: 700px;
	/* margin-top: 2rem; */
	padding-bottom: 0.3rem;
	cursor: pointer;
}
.question{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question h3{
	font-size: 1.5rem;
	font-family: 'poppins', sans-serif;
}
.answer p{
	color: #838485;
	font-family: 'league spartan', sans-serif;
	padding-top: 1rem;
	line-height:1.6 ;
	font-size: 1.3rem;
}
.answer{
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
}
.faq.active .answer{
	max-height: 300px;
	animation: fade 1s ease-in-out;
}
.faq.active .i{
	transform: rotate(90deg);
}
i{
	transition: transform 0.5s ease;
}
@keyframes fade{
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}
/* faq completed */

footer{
	background-color: #121a21;
	text-align:center;
}
.footer-logo{
	width: 180px;
	margin: 50px 0px 30px 0px;
}
.address-open-hours-contact{
	display: flex;
	justify-content:space-evenly;
	text-align: left;
	padding: 0px 0px 30px 0px;
}
.address h3, .open-hours h3, .contact-for-more h3{
	font-family: 'league spartan', sans-serif;
	color: #ffa51d;
}
.address p, .contact-for-more p, .open-hours p{
	font-family: 'poppins', sans-serif;
	color: white;
	width: 300px;
}
.social-medias a{
	display: inline-block;
	width: 40px; 
    margin:0 10px 10px 0;
	text-align:center;
	border-radius: 50px;
	border: 1px solid white;
	line-height: 40px;
	color: #f6f6f6;
	transition:0.5s;
}
.social-medias{
	display: flex;
	justify-content: center;
	padding:10px 0px 0px 0px ;
}

.facebook a:hover{
	background-color: #4267B2;
}
.twitter a:hover{
	background-color:#1DA1F2;
}
.instagram a:hover{
	background-color:#E1306C;
}
.pinterest a:hover{
	background-color: #E60023;
}
.youtube a:hover{
	background-color: #FF0000;
}
/* footer-for-about-us-etc */
.navbar-footer ul{
	display: flex;
	justify-content: center;
}
.navbar-footer ul li a{
	padding: 10px;
	color: white;
	text-decoration:none;
}
.navbar-footer ul li{
	list-style: none;
	font-family: 'league spartan', sans-serif;
}
.navbar-footer a:hover{
	color:#ff5757;
}
/* footer-for-privacy-etc */
.other-navbar-footer ul{
    display: flex;
	justify-content: center;
}
.other-navbar-footer ul li{
	padding: 10px;
	font-family: 'league spartan', sans-serif;
	list-style: none;
}
.other-navbar-footer ul li a{
	text-decoration: none;
	color: #f6f6f6;
}
.other-navbar-footer a:hover{
	color: #ff5757;
}
.copyright{
	text-align: center;
	font-family: 'poppins', sans-serif;
	color: #eee;
	padding: 20px;
}
.footer-hr{
	width: 99.9%;
}