body{
	margin:0;
	padding: 0;
}
.header{ 
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header-logo{
	width:180px;
	margin-left:50px;
	margin-top: 20px;
}
.navbar ul li{
	display:inline;
	margin:10px;
}
.navbar ul li a{
font-family:'Open Sans',sans-serif;
text-decoration:none;
padding:10px;
font-size:15px;
margin-top:10px;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.navbar ul li a.active{
    border-bottom: 3px solid #ff5757;
}
.header button{
	font-size:15px;	
    background-color:#ff5757;
	color:white;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
	cursor: pointer;
}
.ticket{
 text-align: center;
 margin-top: 6%;
 font-family: 'league spartan', sans-serif;
font-size: 40px;
}
.back-video{
	z-index: -1;
	width: 100%;
	height: 100%;
	
}

/* .video{
	width: 98.9vw;
	height: 95vh;
	left: 100
} */
.sq-box{
    display: flex;
	justify-content: space-around;
	margin-top: 120px;
	width: 98.9vw;
	height: 80vh;

}
.upward-ticketprices{
	position: absolute;
	top: 0;
}
.adult-ticket{
	height: 350px;
	width:500px;
	text-align: center;
	background-color:white;
	border: 1px solid white;
	border-radius: 10px;
    padding-top: 40px;
}
.adult-ticket h3{
    margin-top: 20px;
	font-family: 'league spartan', sans-serif;
	font-size: 25px;
}
.adult-ticket h2{
    font-family: 'poppins', sans-serif;
	font-size: 20px;
	color:#179eaf;
	margin-top: 40px;
}
.adult-ticket p{
	font-family: 'poppins', sans-serif;
	margin-top: 50px;
}
.price-colour{
	color: #ff5757;
}
.background-video{
	position: relative;
}
.adult-ticket button{
	padding-right: 422px;
	padding-top:20px;
	padding-bottom: 20px;
	margin-top: 90px;
	background-color: aqua;
	border:10px;
	border-radius: none;
    font-family:'league spartan', sans-serif;
	font-size: 14px;

}
.content-gif{
	display: flex;
	justify-content:space-around ;
	align-items: center;
}
.content button{
	border-radius: 80pc;
    background-color: #ffa51d;
	border: #ffa51d;
	font-family: 'league spartan', sans-serif;
	padding: 20px 30px 20px 30px;
	color: white;
}
.content h1{
	width: 350px;
	font-size: 50px;
	font-family: 'league spartan', sans-serif;
}
.get-updates{
	height: 350px;
	width: 1485px;
	background-color: #eee;
}
.get-updates h1{
	font-family: 'league spartan', sans-serif;
	text-align: center;
	padding: 60px;
	font-size: 50px;
    margin-bottom: auto;
}
.btn-book-now{
	text-align: center;
}
.email-address{
	margin-left: 480px;
}
.email-address button{
	border-radius: 80pc;
    background-color: #ffa51d;
	border: #ffa51d;
	font-family: 'league spartan', sans-serif;
	padding: 20px 30px 20px 30px;
	color: white;
}
.email-address input{
	border-radius: 80pc;
	width: 350px;
	background-color: white;
	border: #eee;
	padding: 20px 30px 20px 30px;
	border-color: white;
}
.privacypolicy{
	margin-left: 480px;
	padding: 20px;
	font-family: 'poppins', sans-serif;
}







footer{
	background-color: #121a21;
	text-align:center;
}
.footer-logo{
	width: 180px;
	margin: 50px 0px 30px 0px;
}
.address-open-hours-contact{
	display: flex;
	justify-content:space-evenly;
	text-align: left;
	padding: 0px 0px 30px 0px;
}
.address h3, .open-hours h3, .contact-for-more h3{
	font-family: 'league spartan', sans-serif;
	color: #ffa51d;
}
.address p, .contact-for-more p, .open-hours p{
	font-family: 'poppins', sans-serif;
	color: white;
	width: 300px;
}
.social-medias a{
	display: inline-block;
	width: 40px; 
    margin:0 10px 10px 0;
	text-align:center;
	border-radius: 50px;
	border: 1px solid white;
	line-height: 40px;
	color: #f6f6f6;
	transition:0.5s;
}
.social-medias{
	display: flex;
	justify-content: center;
	padding:10px 0px 0px 0px ;
}

.facebook a:hover{
	background-color: #4267B2;
}
.twitter a:hover{
	background-color:#1DA1F2;
}
.instagram a:hover{
	background-color:#E1306C;
}
.pinterest a:hover{
	background-color: #E60023;
}
.youtube a:hover{
	background-color: #FF0000;
}
/* footer-for-about-us-etc */
.navbar-footer ul{
	display: flex;
	justify-content: center;
}
.navbar-footer ul li a{
	padding: 10px;
	color: white;
	text-decoration:none;
}
.navbar-footer ul li{
	list-style: none;
	font-family: 'league spartan', sans-serif;
}
.navbar-footer a:hover{
	color:#ff5757;
}
/* footer-for-privacy-etc */
.other-navbar-footer ul{
    display: flex;
	justify-content: center;
}
.other-navbar-footer ul li{
	padding: 10px;
	font-family: 'league spartan', sans-serif;
	list-style: none;
}
.other-navbar-footer ul li a{
	text-decoration: none;
	color: #f6f6f6;
}
.other-navbar-footer a:hover{
	color: #ff5757;
}
.copyright{
	text-align: center;
	font-family: 'poppins', sans-serif;
	color: #eee;
	padding: 20px;
}