body{
	margin: 0;
}
.visit-signin{
	display: flex;
	justify-content: space-around;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
	font-family: 'poppins', sans-serif;
	font-weight: 5px;
	font-size: 16px;
}
.sign-in a{
	text-decoration: none;
}
.header{ 
	display:flex;
	justify-content:space-between;
	align-items:center;
    box-shadow:0 3px 6px 0 rgb(0 0 0 / 20%) ;
}
.header-logo{
	width:180px;
	margin:15px 0px 0px 50px;
}
.navbar ul li{
	display:inline;
	margin:10px;
}
.navbar ul li a{
font-family:'Open Sans', sans-serif;
text-decoration:none;
padding:10px;
}
.navbar ul li a:hover {
	border-bottom:3px solid #ff5757;
} 
.header button{
	font-size:15px;	
    background-color:#ff5757;
	border-radius:8px;
	padding:15px;
	border:none;
	margin-right:80px;
}
.header button a{
	text-decoration: none;
	color: #f6f6f6;
}

/* To back css like home, etc.., */
.total-homepages-div{
    padding: 35px 0px 0px 50px;
    display: flex;
}
.homepages a {
	font-family: 'poppins', sans-serif;
    text-decoration: none;
    color: #838285;
}
.homepages a:hover{
    color: #ff5757;
}
/* completed */

.image{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.account a{
    text-decoration: none;
}
.account h1{
    font-family: "poppins", sans-serif;
	font-size: 1.5rem;
}
.manage h3{
    font-family: "league spartan", sans-serif;
    font-size: 15px;
}
.hr-for-break{
    width: 60%;
}